#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#root .btn1 {
  background-color: #073573;
  color: white;
}

.navbar {
  background-color: #123456 !important; /* Asegúrate de que este color sea el que prefieras */
}

.navbar .MuiTypography-root {
  color: #ffffff !important; /* Cambia este color al que prefieras para el texto del título */
}

.navbar .MuiIconButton-root {
  color: #ffffff !important; /* Cambia este color al que prefieras para el icono del menú */
}

.navbar .MuiMenu-paper {
  background-color: #123456 !important; /* Cambia este color al que prefieras para el fondo del menú */
  color: #ffffff !important; /* Cambia este color al que prefieras para el texto del menú */
}

.navbar .MuiMenuItem-root {
  color: #ffffff !important; /* Cambia este color al que prefieras para el texto de los elementos del menú */
}

.navbar .MuiMenuItem-root:hover {
  background-color: #345678 !important; /* Cambia este color al que prefieras para el fondo de los elementos del menú al pasar el mouse */
}
